body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto; /* allow scroll if needed */
  position: relative;
}

canvas#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* behind everything */
}
